/* styles for ProjectCard & ProjectCardSwiper */
.projectInfo {
	background-color: white;
}

.project_swiper_img {
	height: 215px;
	width: 100%;
	object-fit: cover;
}

.swiper-button-prev::after {
	color: #319795;
}

.swiper-button-next::after {
	color: #319795;
}

.swiper-pagination {
	margin-left: 17em;
	margin-bottom: 10.5em;
	max-width: 50px;
	color: white;
	background-color: #FFFFFF66;
	border-radius: 20px;
}

/* styles for TabBarProfileSetting */
.tabProfileSetting {
	width: 109px;
	height: 34px;
	background-color: #E2E8F0;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabBarProfileSetting {
	width: 343px;
	height: 46px;
	background-color: #F1F5F9;
	border-radius: 4px;
	display: flex;
	direction: row;
	justify-content: space-around;
	align-items: center;

}