/* styles for ProjectCard & ProjectCardSwiper */

.projectInfo {
	background-color: white;
	padding: 20px;
}

.project_swiper_img {
	height: 13.438em;
	width: 100%;
	object-fit: cover;
}

.swiper-button-prev::after {
	color: #319795;
}

.swiper-button-next::after {
	color: #319795;
}

.swiper-pagination {
	margin-left: 17em;
	margin-bottom: 10.5em;
	max-width: 3.125em;
	color: white;
	background-color: #FFFFFF66;
	border-radius: 1.25em;
}


#projectTitle {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 12px;
}

.projectSubTitle {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 4px;
}



#projectDescription {
	font-weight: bold;
	font-size: 14px;
	color: #94A3B8;
}

.projectTextInfo {
	font-weight: bold;
	font-size: 12px;
	color: #94A3B8;
	margin-bottom: 12px;
}