@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');

* {
	font-family: 'Nunito', sans-serif;
}

/* styles for ProjectCard & ProjectCardSwiper */

.projectInfo {
	background-color: white;
	padding: 1.25em;
}

.projectSwiperImg {
	height: 13.438em;
	width: 100%;
	object-fit: cover;
}

.ProjectCardSearchPicsSwiper>.swiper-pagination {
	/* I used px here when em didn't work */

	/* settings for the numbers inside the badge */
	font-size: 0.625em;
	max-width: 40px;
	height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

	/* settings for the badge itself */
	margin-left: 289px;
	margin-bottom: 170px;
	/* max-width: 3.125em; */
	background-color: #FFFFFF66;
	border-radius: 1.25em;
}



#projectCardTitle {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.75em;
}

.projectCardSecondaryTitle {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 0.25em;
}

#projectCardDescription {
	font-weight: bold;
	font-size: 0.875em;
	color: #94A3B8;
}

.projectCardTextInfo {
	font-weight: bold;
	font-size: 0.875em;
	color: #94A3B8;
	margin-bottom: 0.75em;
}